*{
    text-decoration: none;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    --ff-primary:'Outfit', sans-serif;
}

*{
    font-family: var(--ff-primary);
}
body{
    display: flex;
    background-color: var(--Light-gray);
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-box{
    display: flex;
    background-color: var(--White);
    padding: 15px 10px;
    border-radius: 5%;
    max-width: 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img{
    border-radius: 7.5%;
}


.text-box h2{
    max-width: 280px;
    text-align: center;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: var(--Dark-blue);
    font-weight: 700;
}

.text-box p{
    max-width: 280px;
    margin-right: 7px;
    margin-left: 7px;
    text-align: center;
    font-weight: 400;
    color: var(--Grayish-blue);
}